body{
	background: #1589ff;
	 height: 100%;
	 background-position: center;
	 background-repeat: no-repeat;
	 background-size: cover;;
}
h1{
	font-size: 7rem;
	font-weight: 10rem;
	color: black;
}
h3{
	font-size: 3rem;
	font-weight: 4em;
	color: black;
}
#content{
	text-align: center;
	padding-top: 15%;
	text-shadow: 0px 4px 3px blue;
     text-shadow: 0px 8px 13px violet;
}
#header{
	background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRv6IAK8DGFWCqIONIrDVK6QqyhH8FBFfi5XjI4O1iRVaMUIcdM&usqp=CAU");
	 height: 100%;
	 background-position: center;
	 background-repeat: no-repeat;
	 background-size: cover;;
}
.remove-space{
	margin-bottom: -20px;
}
